// font
$font-family: 'Roboto', sans-serif;

// color
$primary-color:#1abc9c;
$button-color:#045041;
$secondary-color: #fff;
$thirdary-color:rgb(44, 62, 80);
$footer-color:#1a252f;
$divider-color:#2c3e50;
$contact-color:#dc3545;

// size
$title-size: 32px;
$text-size: 16px;

// margin
$margin-size: 16px;
$margin-sizeBig: 32px;

//border 
$border-size: 16px;

//line-height
$lineHeight: 16px;

//padding
$padding-size: 16px;